<div class="header-content">
    <div class="header-left">
        <img src="ab.jpg" alt="Profile photo" class="profile-photo">
        <h1>{first_name} {last_name}</h1>
    </div>
    <div class="contact">
        {location}<br>
        <a href="https://orcid.org/{orcid}" target="_blank" aria-label="View ORCID record" rel="noopener noreferrer">ORCID: {orcid}</a><br>
    </div>   
</div>